body {
    font-family: Arial, sans-serif;
    background-color: #46425e;
    color: #f6c6a8;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5b768d;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #d17c7c;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #f6c6a8;
    text-decoration: none;
    margin: 0 10px;
}

section {
    padding: 20px;
}

footer {
    background-color: #5b768d;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}